#carousel {
  width: calc(100% - 40px);
  height: calc((100rem - 40px) / 3 / 380 * 180 + 20px);
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#carousel .swiper-wrapper {
  width: 100%;
  height: calc(100% - 20px - 20px);
  position: absolute;
  left: 0;
  top: 20px;
}
#carousel .swiper-wrapper.focus {
  box-shadow: none;
}
#carousel .swiper-wrapper.focus .swiper-slide-active::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  padding: 7px;
  border: 5px solid #02a7fd;
  border-image: linear-gradient(90deg, #04A3FE, #019CFD, #00F4FC, #019CFD, #04A3FE) 5 5;
  /* box-shadow: 0 0 4px 2px #02a7fd, inset 0 0 4px 2px #02a7fd; */
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
  z-index: 2;
}
#carousel .swiper-wrapper .swiper-slide {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  overflow: visible;
}
#carousel .swiper-wrapper .swiper-slide.swiper-slide-active {
  z-index: 3;
}
