#top {
  width: 100%;
  height: 80px;
  padding: 20px 40px;
  padding-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#top #logo {
  height: 100%;
  float: left;
}
#top #notification {
  float: left;
  height: 40px;
  width: calc(100% - 800px);
  margin-left: 30px;
  background-color: #0C2030;
  box-sizing: border-box;
  border: 1px solid #0c2030;
  border-radius: 20px;
  color: #ff6c00;
  font-size: 18px;
  overflow: hidden;
  position: relative;
}
#top #notification #notice {
  width: -webkit-max-content;
  width: max-content;
  position: absolute;
}
#top #notification #notice .noticeText {
  line-height: 40px;
  white-space: nowrap;
  margin-left: 50px;
}
#top #notification.focus {
  box-shadow: inset 0 0 5px 2px #ff6c00;
}
#top .topRight {
  float: left;
  font-size: 18px;
  border-radius: 20px;
}
#top .topRight .icon {
  margin-left: -10px;
  margin-right: 10px;
  font-size: 22px;
}
#top .topRight.item.focus {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
#top .search {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
#top .mine,
#top .order {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top .time {
  width: 185px;
  height: 40px;
  text-align: right;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#menuWrap {
  width: 100%;
  height: 60px;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
}
#menuWrap .itemGroup {
  height: 60px;
  width: calc(100% / 8 * 9);
}
#menuWrap .itemGroup .menu {
  height: 60px;
  line-height: 60px;
  float: left;
  border-radius: 20px;
  color: #fff;
  transition: 200ms;
  width: calc(100% / 8);
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
#menuWrap .itemGroup .menu.active {
  background-image: url(../images/icon/menu/menu_active.png);
}
#menuWrap .itemGroup .menu.focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  transition: 500ms;
  background-image: url(../images/icon/menu/menu_focus.png);
}
