@import url(../lib/animation.css);
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.clearFix:after,
.itemGroup:after {
  content: "";
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
  height: 0;
}
:root {
  font-size: 1vw;
}
html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #042B5A;
  color: #ffffff;
}
body {
  background-image: url("../images/background/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  background-color: #042B5A;
  width: 100vw;
  height: calc(100rem / 1920 * 1080);
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#menuWrap {
  width: 100%;
  height: 60px;
  overflow: hidden;
}
#menuWrap .itemGroup {
  height: 60px;
  width: calc(100% / 6 * 9);
}
#menuWrap .itemGroup .menu {
  height: 60px;
  line-height: 60px;
  float: left;
  border-radius: 20px;
  color: #fff;
  transition: 200ms;
  width: calc(100% / 6);
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
#menuWrap .itemGroup .menu.active {
  background-image: url(../images/icon/menu/menu_active.png);
}
#menuWrap .itemGroup .menu.focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  transition: 500ms;
  background-image: url(../images/icon/menu/menu_focus.png);
}
.item.horizontalShake {
  -webkit-animation: shake-horizontal 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.item.verticalShake {
  -webkit-animation: shake-vertical 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-vertical 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.item img {
  -webkit-user-drag: none;
  width: 100%;
  height: 100%;
}
