@import url(../lib/animation.css);
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.clearFix:after,
.itemGroup:after {
  content: "";
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
  height: 0;
}
:root {
  font-size: 1vw;
}
html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #04040c;
  color: #ffffff;
}
body {
  background-image: url("../images/background/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  width: 100vw;
  height: calc(100vw / 1280 * 720);
  height: 66.667vw;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}
svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.item {
  font-size: 20px;
}
.item.horizontalShake {
  -webkit-animation: shake-horizontal 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.item.verticalShake {
  -webkit-animation: shake-vertical 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-vertical 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.item img {
  -webkit-user-drag: none;
  width: 100%;
  height: 100%;
}
.font-4 {
  font-size: 20px;
}
.font-5 {
  font-size: 30px;
}
.font-6 {
  font-size: 32px;
}
.font-7 {
  font-size: 36px;
}
