#recommend {
  width: 100vw;
  height: calc(100vh - 90px);
  margin-top: 20px;
  box-sizing: border-box;
  padding: 0 40px;
}
#recommend .row {
  width: 100%;
}
#recommend .row + .row {
  margin-top: 20px;
}
#recommend .row .item {
  float: left;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
#recommend .row .item + .item {
  margin-left: 20px;
}
#recommend .row .item.focus {
  transform: scale(1.05);
  box-shadow: 0 0 5px 2px #fff;
  border-radius: 3px;
  transition: 500ms;
}
#recommend .row.row-2 .item {
  width: calc((100vw - 40px * 2 - 20px * (2 - 1)) / 2);
}
#recommend .row.row-2 .item {
  height: calc(calc((100vw - 40px * 2 - 20px * (2 - 1)) / 2) / 280 * 150);
}
#recommend .row.row-3 .item {
  width: calc((100vw - 40px * 2 - 20px * (3 - 1)) / 3);
}
#recommend .row.row-3 .item {
  height: calc(calc((100vw - 40px * 2 - 20px * (3 - 1)) / 3) / 380 * 180);
}
#recommend .row.row-4 .item {
  width: calc((100vw - 40px * 2 - 20px * (4 - 1)) / 4);
}
#recommend .row.row-4 .item {
  height: calc(calc((100vw - 40px * 2 - 20px * (4 - 1)) / 4) / 380 * 180);
}
#recommend .row.row-5 .item {
  width: calc((100vw - 40px * 2 - 20px * (5 - 1)) / 5);
}
#recommend .row.row-5 .item {
  height: calc(calc((100vw - 40px * 2 - 20px * (5 - 1)) / 5) / 280 * 150);
}
#recommend .row.row-6 .item {
  width: calc((100vw - 40px * 2 - 20px * (6 - 1)) / 6);
}
#recommend .row.row-6 .item {
  height: calc(calc((100vw - 40px * 2 - 20px * (6 - 1)) / 6) / 175 * 240);
}
