#recommend {
  width: 100vw;
  height: calc(100% - 80px);
  box-sizing: border-box;
  padding: 20px 40px;
  overflow: hidden;
}
#recommend .row {
  width: 100%;
}
#recommend .row + .row {
  margin-top: 20px;
}
#recommend .row .item {
  float: left;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 200ms;
}
#recommend .row .item + .item {
  margin-left: 20px;
}
#recommend .row .item.focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 0 0 5px 2px #fff;
  border-radius: 3px;
  transition: 500ms;
}
#recommend .row.row-first .item {
  width: calc((100rem - 40px * 2 - 20px * (6 - 1)) / 6);
  height: calc((100rem - 40px * 2 - 20px * (6 - 1)) / 6 / 165 * 185);
}
#recommend .row.row-2 .item {
  width: calc((100rem - 40px * 2 - 20px * (2 - 1)) / 2);
}
#recommend .row.row-2 .item {
  height: calc((100rem - 40px * 2 - 20px * (2 - 1)) / 2 / 280 * 150);
}
#recommend .row.row-3 .item {
  width: calc((100rem - 40px * 2 - 20px * (3 - 1)) / 3);
}
#recommend .row.row-3 .item {
  height: calc((100rem - 40px * 2 - 20px * (3 - 1)) / 3 / 380 * 180);
}
#recommend .row.row-4 .item {
  width: calc((100rem - 40px * 2 - 20px * (4 - 1)) / 4);
}
#recommend .row.row-4 .item {
  height: calc((100rem - 40px * 2 - 20px * (4 - 1)) / 4 / 380 * 180);
}
#recommend .row.row-5 .item {
  width: calc((100rem - 40px * 2 - 20px * (5 - 1)) / 5);
}
#recommend .row.row-5 .item {
  height: calc((100rem - 40px * 2 - 20px * (5 - 1)) / 5 / 280 * 150);
}
#recommend .row.row-6 .item {
  width: calc((100rem - 40px * 2 - 20px * (6 - 1)) / 6);
}
#recommend .row.row-6 .item {
  height: calc((100rem - 40px * 2 - 20px * (6 - 1)) / 6 / 175 * 240);
}
#historyRecord {
  width: calc(2 * (100rem - 40px * 2 - 20px * (6 - 1)) / 6 + 20px);
  height: calc((100rem - 40px * 2 - 20px * (6 - 1)) / 6 / 165 * 185);
  float: left;
  margin-right: 20px;
}
#historyRecord #history {
  width: calc(65% - 20px);
  height: 100%;
  float: left;
  background-color: #0693d14d;
}
#historyRecord #history .history {
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(35, 107, 138, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 200ms;
}
#historyRecord #history .history span:first-child {
  width: calc(100% - 105px);
  box-sizing: border-box;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#historyRecord #history .history span:last-child {
  width: 95px;
  float: right;
  text-align: right;
  font-size: 14px;
  padding-right: 10px;
}
#historyRecord #history .history.focus {
  transition: 500ms;
  background: -webkit-linear-gradient(0, #0693d1, rgba(54, 64, 80, 0) 95%);
}
#historyRecord #history .history.all {
  background-color: rgba(197, 194, 194, 0.25);
  border-top: 1px solid rgba(35, 107, 138, 0.6);
  border-bottom: unset;
  justify-content: center;
}
#historyRecord #historyRight {
  width: 35%;
  height: 100%;
  margin-left: 20px;
  float: left;
}
#historyRecord #historyRight > div {
  height: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(90deg, #0266C4, #0697D2, #0663C1);
  transition: 200ms;
}
#historyRecord #historyRight > div.focus {
  border: 5px solid;
  border-image: linear-gradient(90deg, #04A3FE, #019CFD, #00F4FC, #019CFD, #04A3FE) 5 5;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  transition: 500ms;
}
#historyRecord #historyRight #list {
  margin-top: 20px;
}
