#wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}
#keyboard {
  float: left;
  width: 48%;
  height: 100%;
}
#keyboard #input {
  width: 100%;
  height: 50px;
  position: relative;
}
#keyboard #input #charsPlaceholder {
  /* display: none; */
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  clear: both;
  border: none;
  padding: 0;
  font-size: 18px;
  text-indent: 18px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
#keyboard #input #chars {
  width: 100%;
  height: 50px;
  line-height: 50px;
  clear: both;
  background: rgba(3, 133, 254, 0.25);
  border-radius: 25px;
  padding: 0;
  font-size: 18px;
  text-indent: 18px;
  color: #ffffff;
  box-sizing: border-box;
}
#keyboard #input #chars.focus {
  box-shadow: inset 0 0 2px 1px #fff;
}
#keyboard #input #chars.focus + #delete {
  color: #f11515;
}
#keyboard #input #delete {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  font-size: 36px;
  color: #039CFD;
}
#keyboard #keys {
  width: 100%;
  height: calc(100% - 50px - 60px - 80px);
  margin: 40px 0;
  background: linear-gradient(0deg, rgba(18, 49, 86, 0.1), rgba(1, 89, 251, 0.1));
  border-radius: 10px;
}
#keyboard #keys .row {
  width: 100%;
  height: calc(100% / 6);
}
#keyboard #keys .row .key {
  float: left;
  width: calc(100% / 6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Microsoft YaHei;
  color: #ffffff;
  font-size: 30px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  box-sizing: border-box;
}
#keyboard #keys .row .key.focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  box-shadow: none;
  border-radius: 0;
  text-stroke: 1px #06EDFB;
  text-shadow: 1px 2px 1px #ffffff, 1px 2px 5px #aefcff, 1px 2px 10px #49e8fd;
}
#keyboard #btns {
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#keyboard #btns .btn {
  width: calc((100% - 50px) / 2);
  height: 60px;
  border-radius: 35px;
  box-sizing: border-box;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(3, 133, 254, 0.3);
}
#keyboard #btns .btn.focus {
  color: #009afa;
  border: 5px solid #039AFA;
  box-shadow: inset 0px 0px 10px 0px #039AFA, 0px 0px 10px 0px #039AFA;
}
#list {
  width: 45%;
  height: 100%;
  float: right;
}
#list .title {
  font-size: 28px;
  display: flex;
  align-items: center;
  height: 32px;
}
#list .title::after {
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #033162;
  margin-left: 20px;
}
#list #searchContent {
  width: 100%;
  height: calc(100% - 32px);
}
#list #searchContent .itemGroup {
  margin-top: 20px;
}
#list #searchContent .itemGroup .item {
  width: calc((100% - 40px * 2) / 3);
  height: 0;
  padding-bottom: calc((100% - 40px * 2) / 3 / 326 * 482);
  position: relative;
  transition: 200ms;
  float: left;
}
#list #searchContent .itemGroup .item + .item {
  margin-left: 40px;
}
#list #searchContent .itemGroup .item.focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 0 0 5px 2px #fff;
  border-radius: 3px;
  transition: 500ms;
}
#list #searchContent .itemGroup .item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#list #searchContent .itemGroup .item .name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  box-sizing: border-box;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
